<?php
/*
    Licence    : AGPL
    Created on : 01.01.2023
    Author     : @oneloma.ml
*/
?>

:root {
    --global-font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, Noto Color Emoji;
    --nav-bg: <?php echo $nav_bg; ?>;
    --link-color: <?php echo $link_color; ?>;
    --nav-icon-color: <?php echo $nav_icon_color; ?>;
    --background-color: <?php echo $background_color; ?>;
    --contentbg-transp: <?php echo $contentbg_transp; ?>;
    --font-color: <?php echo $font_color; ?>;
    --font-color-darker: <?php echo $font_color_darker; ?>;
    --background-image: <?php echo $background_image; ?>;
    --menu-background-hover-color: <?php echo $menu_background_hover_color; ?>;
}

/* Root Variable für Schriften */
:root {
    --global-font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, Noto Color Emoji;
}

/* Hintergrund externe Inhalte */
.wall-item-container .media {
    margin-top: 0;
    padding: 10px;
    background-color: rgba(237, 237, 237, 0.03);
    box-shadow: 0 0.1em 1em -0.125em rgba(106, 106, 106, 0.11), 0 0px 0 1px rgb(238, 238, 238);
}

/* Mobile Button vergrößern & weißen Hintergrund */
.btn-sm {
    padding: 5px 23px;
    font-size: 13px;
    color: #333;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

#jotOpen {
    margin-top: 1px;
    float: right;
}

.btn {
    border-radius: 5px;
}

/* Tabwechsel zu den Inhalten */
ul.tabs li {
    font-size: 1.3rem;
    font-style: normal;
    font-family: var(--global-font-family) !important;
}

/* Hauptbeitrag */
body {
    font-family: var(--global-font-family) !important;
    color: var(--font-color);
    font-size: 1.47rem;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

/* Kommentierungen auf Beiträge */
.media .media-body {
    font-family: var(--global-font-family) !important;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

/* Rahmen Twitter Nachrichten */
.well {
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    border-color: #eee;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}

/* Seitennavigation */
aside .widget, .nav-container .widget {
    font-family: var(--global-font-family) !important;
    color: var(--font-color-darker);
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

/* Seitennavigation hover Farbe */
aside .widget li:hover, aside .widget li.selected, .nav-container .widget li:hover {
    z-index: 2;
    color: var(--font-color-darker);
    background-color: rgba(242, 242, 242, 0.98);
    border-left: 3px solid #515151 !important;
    padding-left: 17px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10,0.02);
}

/* Seitennavigation Abstand der Infoblöcke */
aside .widget, .nav-container .widget {
    border: none;
    color: var(--font-color-darker);
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 3px #dadada;
    border-radius: 2px;
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
    overflow: auto;
}

/* Fügt ein eigene Logo in die Seite ein */
#logo-img {display:none;}
header #banner {
    position: fixed;
    left: 43%;
    right: 0;
    z-index: 1040;
    margin-top: 1.5px;
    padding-left: 55px;
    background-image: url('/.statisch/logo_dis-le.png');
    background-size: 180px 50px;
    height: 50px;
    width: 180px;
}

/* Fügt ein Hintergrundbild in die Seite ein */
/*
body {
    background: url('/.statisch/bg-pattern-light-5.png') !important;
    background-repeat: repeat !important;
    background-size: fixed !important;
    background-attachment: fixed !important;
    height: auto !important;
} */

/* Modal verbreitern und Form anpassen */
#jot-modal .modal-header a, #jot-modal .modal-header .btn-link, #profile-jot-submit-wrapper a, #profile-jot-submit-wrapper .btn-link {
    color: #202020;
}

main .nav-tabs > li.active > a, main .nav-tabs > li.active > a:focus, main .nav-tabs > li.active > a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-top: 0px;
    border-left: 0px;
    background-color: #fff0;
    border-right: 0px;
    border-bottom: 0px solid #577384;
}

.modal-content {
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.73);
    background-color: #fdfdfd;
    border: 2px solid rgba(230, 230, 230, 0.79);
    border-radius: 7px;
}

.pager li > a:focus, .pager li > a:hover {
    background-color: #3c4a5300;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #2b2b2b;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pager .next > a, .pager .previous > a {
    border-radius: 0px;
    font-weight: 800;
    font-size: 20px;
}

.pagination li > a, .pager li > a {
    background-color: #dfdfdf00;
    color: #000;
    border: 0px;
    padding: 10px;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pager li > a, .pager li > span {
    background-color: #dfdfdf00;
    border: 1px solid #cecdcd00;
    border-radius: 0px;
}

/* Farbe der Srollbar anpassen */
html {
    scrollbar-color: #6c7784 rgba(0,0,0,.1);
}

/* Linie zwischen Beiträgen hervorheben */
.wall-item-container {
    border-top: 1px solid rgba(221, 221, 221, 0.8);
    margin-left: 2px !important;
}

/* Kommentag anpassen */
Element {
    overflow: scroll;
}

.dropzone.dz-clickable {
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}

.dropzone:not(textarea) {
    border: 1px solid rgb(255, 255, 255);
    padding: 0px 0px 5px 0px;
}

/* Suchefenster optimieren */
#topbar-first #search-box .form-search {
    height: 25px;
    font-size: 13px;
    background-position: 8px 4px;
}

.form-control.form-search {
    border-radius: 4px;
    background-image: url(img/icon_search16x16.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    padding-left: 34px;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    font-family: inherit;
}

/* Radius der Beiträge & Abstand zwischen Beiträgen */
.panel {
    border: none;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 2px #dadada;
    border-radius: 4px;
    position: relative;
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}

/* Position Suche */
.form-group-search .form-button-search {
    position: absolute;
    top: 2px;
    right: 4px;
    border-radius: 30px;
}

/* Anzahl Kommentare heller machen */
.hide-comments-outer {
    display: block;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.3em 10px;
    width: 100%;
    border: none;
    text-align: left;
}

/* Kommentarfeld unter Beiträge einhellen */
.comment-fake-form, .wall-item-comment-wrapper {
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;
}

/* Trenner für eingebundene Video oder Link */
.type-link, .type-video {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

/* Kalendereintrag anpassen */
#birthday-notice, #birthday-wrapper, #rfic-desc, #remote-friends-in-common, #event-notice, #event-wrapper {
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #dadada;
    border-radius: 4px;
    cursor: pointer;
}

/* Brake für umzuleitende Links URL Replace */
aside hr, section hr {
    border-color: rgba(232, 232, 232, 0.98);
}

/* Linkfarbe global ändern */
.toplevel_item:hover .fakelink, .wall-item-container:hover .fakelink, .toplevel_item:hover .wall-item-container:hover .wall-item-responses a, .toplevel_item:hover .wall-item-content a, .toplevel_item:hover .wall-item-name, .wall-item-container:hover .wall-item-content a, .wall-item-container:hover .wall-item-name, .wall-item-container:hover .wall-item-location a {
    color: var(--link-color);
    transition: all 0.25s ease-in-out;
}

/* Bilderecken global ändern */
.wall-item-content img {
  object-fit: contain;
  border-radius: 3px;
}

/* Videoecken global ändern */
iframe, img, video {
  max-width: 100%;
  border-radius: 3px;
}

/* fügt eine farbige Linie für Kommentare ein*/
.thread_level_1 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #5151511a;
}

.thread_level_2 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #d2af7f6b;
}

.thread_level_3 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #9985666e;
}

.thread_level_4 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #b8a17ec2;
}

.thread_level_5 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #8fafb8;
}

.thread_level_6 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #647C64AB;
}

.thread_level_7 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #7F8C8DEB;
}

.thread_level_8 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #95A5A6D6;
}

.thread_level_9 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #BDC3C7;
}

.thread_level_10 {
    position: relative !important;
    margin-top: 0;
    border-left: 3px solid #CFD8DC;
}
